body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header, main {
    width: 800px;
    margin: auto;
}
nav {
    display: inline-block;
    width: 100%;
}
ul {
    list-style-type: none;
    overflow: hidden;
    float: right;
}
li {
    float: left;  
    margin-top: 50px;
}
.logo {
    margin-top: 50px;
}
a {
    font-size: 18px;
    text-decoration: none;
    padding: 10px 30px;
    color: black;
}
.active {
    color:rgb(214, 145, 42)
}
main {
    margin-top: 150px;
}
.text-content, .image {
    width: 50%;
    float: left;
}
h1 {
    font-size: 45px;
    text-transform: uppercase;
    margin: 10px;
}
.join-link {
    background-color: orange;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    text-transform: capitalize;
    padding: 15px 50px;
}
p {
    margin-bottom: 45px;
    font-size: 15px;
}
