body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header, main {
    width: 800px;
    margin: auto;
}
nav {
    display: inline-block;
    width: 100%;
}
ul {
    list-style-type: none;
    overflow: hidden;
    float: right;
}
li {
    float: left;  
    margin-top: 50px;
}
li:last-child {
    margin-top: 40px;
}
.logo {
    margin-top: 50px;
}
a {
    font-size: 18px;
    text-decoration: none;
    margin: 10px 30px;
    color: black;
}
a:hover {
    font-size:larger;
    color: rgba(172, 110, 18, 0.87);
}
.active {
    color:rgba(172, 110, 18, 0.87);
}
main {
    margin-top: 150px;
}
.text-content, .image {
    width: 50%;
    float: left;
}
h1 {
    font-size: 45px;
    text-transform: uppercase;
    margin: 10px 0;
}
.join-link {
    background-color: orange;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    text-transform: capitalize;
    padding: 15px 50px;
    margin-left: 0;
}
p {
    margin-bottom: 45px;
    font-size: 15px;
}
.soc-icons {
    margin-top: 70px;
}
.soc-icons > a {
    padding: 0;
    margin-right: 35px;
    margin-left: 0;

}
i:hover {
    color: rgb(43, 144, 226);
    font-size: larger;
}
form {
}
form >input {
    position: relative;
    font-size: 18px;
    width: 150px;
    padding: 10px;
    border: 2px solid #555;
}
form > button {
    position: absolute;
    margin: 10px -30px;
    border: none;
    font-size: 20px;
}